---
import App from "../App.astro";
import { Section, Image, Icon, H1, H2, H3, H4 } from "ui";
---

<App title="Главная">
  <Fragment slot="head">
    <style is:global>
      .header .header__content {
        border-bottom: none;
      }
    </style>
  </Fragment>

  <main>
    <!-- Intro -->
    <Section name="intro">
      <div class="intro__swiper">
        <div class="swiper">
          <div class="swiper-wrapper">
            <div
              class="swiper-slide slide-1"
              style="background-image: url('./assets/img/intro/1.png');"
            >
              <div class="title">Amadey</div>

              <div class="scroller">
                <div class="subtitle">Комфорт и стиль</div>
                <div class="action">
                  <a href="/catalog" class="btn variant-white" title="Каталог">
                    <span>смотреть каталог</span>
                    <Icon src="arrow-up-right-primary.svg" />
                  </a>
                </div>
              </div>

              <Image src="intro/2.png" />
            </div>

            <div class="swiper-slide slide-2">
              <div class="slide-text">
                <div class="title">
                  <span>Ди</span>
                  <span>- ва</span>
                  <span>- ны</span>
                </div>
                <div class="subtitle">всего от 25 000 руб</div>
                <div class="desc">диваны на долговечном металлокаркасе</div>

                <a href="/catalog" class="btn variant-solid" title="Каталог">
                  <span>смотреть каталог</span>
                  <Icon src="arrow-up-right.svg" />
                </a>
              </div>

              <Image class="slide-img" src="intro/3.png" />
            </div>
          </div>
        </div>

        <div class="swiper-pagination"></div>
      </div>

      <div class="intro__img">
        <Image src="intro/4.png" />
      </div>

      <ul class="intro__stats">
        <li class="intro__stats-item">
          <H2>
            <strong>15</strong>+
          </H2>
          <p class="font-medium">лет воплощаем идеи клиентов</p>
        </li>
        <li class="intro__stats-item">
          <H2>
            <strong>3700</strong>+
          </H2>
          <p class="font-medium">
            <span>Более 3700</span> позиций мебели в магазине
          </p>
        </li>
        <li class="intro__stats-item">
          <H2>
            <strong>Топ-5</strong>
          </H2>
          <p class="font-medium">дилеров офисной мебели в Казани</p>
        </li>

        <li class="intro__stats-item">
          <H2>
            <strong>10</strong>+
          </H2>
          <p class="font-medium">лет средний опыт сотрудников</p>
        </li>
        <li class="intro__stats-item">
          <H2>
            <strong>22</strong>+
          </H2>
          <p class="font-medium">производителя мебели в одном месте</p>
        </li>
      </ul>
    </Section>

    <!-- Categories -->
    <Section name="categories">
      <div class="title">
        <H2><strong>Популярные</strong> категории</H2>
      </div>

      <div class="categories__list">
        <div class="categories__list-group">
          <div class="categories__item">
            <div class="categories__item-text">
              <div class="categories__item-title">
                Кресло <br /> руководителя
              </div>
              <div class="categories__item-price">от 30 000</div>
              <a class="btn variant-solid size-small" href="/catalog"
                >В каталог <Icon src="arrow-up-right2.svg" /></a
              >
            </div>
            <Image class="categories__item-img" src="categories/1.png" />
          </div>

          <div class="categories__item">
            <div class="categories__item-text">
              <div class="categories__item-title">КРесла для дома</div>
              <div class="categories__item-price">от 7 900</div>
              <a class="btn variant-solid size-small" href="/catalog"
                >В каталог <Icon src="arrow-up-right2.svg" /></a
              >
            </div>
            <Image class="categories__item-img" src="categories/2.png" />
          </div>

          <div class="categories__item">
            <div class="categories__item-text">
              <div class="categories__item-title">Кровати</div>
              <div class="categories__item-price">от 22 000</div>
              <a class="btn variant-solid size-small" href="/catalog"
                >В каталог <Icon src="arrow-up-right2.svg" /></a
              >
            </div>
            <Image class="categories__item-img" src="categories/3.png" />
          </div>
        </div>

        <div class="categories__list-group">
          <div class="categories__item">
            <div class="categories__item-text">
              <div class="categories__item-title">Офисная мебель</div>
              <div class="categories__item-price">от 120 000</div>
              <a class="btn variant-solid size-small" href="/catalog"
                >В каталог <Icon src="arrow-up-right2.svg" /></a
              >
            </div>
            <Image class="categories__item-img" src="categories/6.png" />
          </div>

          <div class="categories__item">
            <div class="categories__item-text">
              <div class="categories__item-title">Кровати</div>
              <div class="categories__item-price">от 22 000</div>
              <a class="btn variant-solid size-small" href="/catalog"
                >В каталог <Icon src="arrow-up-right2.svg" /></a
              >
            </div>
            <Image class="categories__item-img" src="categories/4.png" />
          </div>

          <div class="categories__item">
            <div class="categories__item-text">
              <div class="categories__item-title">Переговорные зоны</div>
              <div class="categories__item-price">от 250 000</div>
              <a class="btn variant-solid size-small" href="/catalog"
                >В каталог <Icon src="arrow-up-right2.svg" /></a
              >
            </div>
            <Image class="categories__item-img" src="categories/5.png" />
          </div>
        </div>
      </div>
    </Section>

    <!-- Projects -->
    <Section name="projects">
      <div class="title">
        <div class="swiper-btn btn-prev">
          <Image src="icons/arrow-left.svg" />
        </div>
        <H2>нАШИ <strong>ПРОЕКТЫ</strong> </H2>
        <div class="swiper-btn btn-next">
          <Image src="icons/arrow-right.svg" />
        </div>
      </div>
      <div class="projects__swiper">
        <div class="swiper">
          <div class="swiper-wrapper">
            <a href="/project" class="swiper-slide">
              <div class="bg-img">
                <Image src="projects/1.png" />
              </div>

              <div class="flex-col">
                <div class="text-title">Кабинет для руководителя</div>
                <div class="text-address">Офис Газпром-Нефть</div>
                <button class="btn variant-solid size-small"
                  >В проект <Icon src="arrow-up-right2.svg" /></button
                >
              </div>
            </a>

            <a href="/project" class="swiper-slide">
              <div class="bg-img">
                <Image src="projects/2.png" />
              </div>

              <div class="flex-col">
                <div class="text-title">Мебель для гостиной</div>
                <div class="text-address">ул. Тукая, д.9</div>
                <button class="btn variant-solid size-small"
                  >В проект <Icon src="arrow-up-right2.svg" /></button
                >
              </div>
            </a>

            <a href="/project" class="swiper-slide">
              <div class="bg-img">
                <Image src="projects/3.png" />
              </div>

              <div class="flex-col">
                <div class="text-title">Переговорная комната</div>
                <div class="text-address">по ул.Сибгата Хакима, д.52</div>
                <button class="btn variant-solid size-small"
                  >В проект <Icon src="arrow-up-right2.svg" /></button
                >
              </div>
            </a>

            <a href="/project" class="swiper-slide">
              <div class="bg-img">
                <Image src="projects/4.png" />
              </div>

              <div class="flex-col">
                <div class="text-title">Мебель для гостиной</div>
                <div class="text-address">ул. Тукая, д.9</div>
                <button class="btn variant-solid size-small"
                  >В проект <Icon src="arrow-up-right2.svg" /></button
                >
              </div>
            </a>

            <a href="/project" class="swiper-slide">
              <div class="bg-img">
                <Image src="projects/4.png" />
              </div>

              <div class="flex-col">
                <div class="text-title">Мебель для гостиной</div>
                <div class="text-address">ул. Тукая, д.9</div>
                <button class="btn variant-solid size-small"
                  >В проект <Icon src="arrow-up-right2.svg" /></button
                >
              </div>
            </a>
          </div>
        </div>
      </div>
    </Section>
  </main>
</App>
