---
import App from "../App.astro";
import { Section, Image, Icon, H1, H2, H3, H4 } from "ui";
import Breadcrumb from "../components/TheBreadcrumb.astro";
---

<App title="Дизайн интерьера">
  <main>
    <!-- Service -->
    <Section name="service">
      <Breadcrumb
        list={[
          { name: "Услуги", href: "/services" },
          { name: "Дизайн интерьера", href: "#" },
        ]}
      />

      <H1>Дизайн интерьера</H1>

      <div class="service__content">
        <Image class="service__img" src="services/service.png" />

        <div class="service__body">
          <h3>
            Услуга «Дизайн интерьера» от нашей компании предлагает вам
            профессиональное и качественное оформление вашего дома или офиса.
          </h3>

          <p>
            Мы поможем создать уникальный и стильный интерьер, учитывая все ваши
            пожелания и предпочтения. Опытные дизайнеры имеют глубокие знания в
            области архитектуры, строительства и декора, что позволяет им
            предложить вам разнообразные варианты дизайна, соответствующие вашим
            потребностям и бюджету. Мы учитываем размеры помещения, его
            функциональность и стиль жизни владельца, чтобы создать гармоничное
            и комфортное пространство.
          </p>

          <div>
            <strong> В рамках дизайна интерьера мы выполняем: </strong>
            <ul>
              <li>разработку концепции дизайна;</li>
              <li>создание 3D-визуализации проекта;</li>
              <li>подбор отделочных материалов и мебели;</li>
              <li>составление сметы и контроль выполнения работ.</li>
            </ul>
          </div>

          <table>
            <thead>
              <tr>
                <th>Тарифы на дизайн:</th>
                <th>Что входит</th>
                <th>Цена</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Базовый</td>
                <td>Концепт скетч, <br> Материалы, <br> Цвета</td>
                <td>2 тыс./ м<sup>2</sup></td>
              </tr>
              <tr>
                <td>Визуал</td>
                <td>Базовый + 3D</td>
                <td>3 тыс./ м<sup>2</sup></td>
              </tr>
              <tr>
                <td>Премиум</td>
                <td>Базовый + 3D фото + смета</td>
                <td>6 тыс./ м<sup>2</sup></td>
              </tr>
              <tr>
                <td>Хай-энд</td>
                <td
                  >Базовый + 3D фото + смета <br> + 3D видео в любых ракурсах + свет</td
                >
                <td>8 тыс./ м<sup>2</sup></td>
              </tr>
            </tbody>
          </table>

          <p>
            Наша команда работает быстро и качественно, обеспечивая соблюдение
            всех сроков и высокое качество исполнения. Мы заботимся о вашем
            комфорте и всегда готовы ответить на возникающие вопросы.
            <br /><br />
            Обратившись к нам, вы получите индивидуальный подход, гарантию качества
            и уверенность в том, что ваш дом или офис станет местом, где вы будете
            чувствовать себя уютно и счастливо.
          </p>
        </div>
      </div>
    </Section>

    <!-- Calculate -->
    <Section name="calculate">
      .calculate
    </Section>
  </main>
</App>
