// ** intro ** //
.intro {
  position: relative;
  padding-top: 0;

  &__swiper {
    position: relative;
    width: 100%;
    height: 700px;
    border-radius: 20px;
    overflow: hidden;
    user-select: none;

    @include media("xl") {
      height: 600px;
    }
    @include media("lg") {
      display: none;
    }

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      background-color: #cfdae7;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0 !important;

      &.swiper-slide-active {
        opacity: 1 !important;
      }
    }

    .swiper-pagination {
      margin: 0;
      top: 0;
      left: 10px;
      height: 100%;
      width: fit-content !important;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 15px;

      .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        background: #fff;
        border-radius: 999px;
        opacity: 1 !important;
        transition: var(--transition-ease);

        &.swiper-pagination-bullet-active {
          height: 120px;
          background: rgba(0, 0, 0, 0.2);
        }
      }
    }

    .slide-1 {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &.swiper-slide-active {
        .scroller {
          animation: scroll 15s linear;
          animation-delay: 0.5s;
        }
      }

      & > img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
      }

      .title {
        color: #fff;
        font-size: 96px;
        font-weight: 800;
        text-transform: uppercase;

        @include media("xl") {
          margin-top: 50px;
          margin-bottom: 10px;
          font-size: 64px;
        }
      }

      .scroller {
        position: relative;
        margin-bottom: 160px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        animation: none;
      }

      .subtitle {
        color: #fff;
        font-size: 300px;
        font-weight: 700;
        font-family: var(--font-secondary);
        line-height: 0.7;
        text-indent: 205px;
        text-transform: uppercase;
        pointer-events: none;
        white-space: nowrap;

        @include media("xl") {
          text-indent: 135px;
          font-size: 200px;
        }
      }

      .action {
        min-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      @keyframes scroll {
        0% {
          transform: translateX(0);
        }
        50% {
          transform: translateX(-247.2%);
        }
        100% {
          transform: translateX(-247.2%);
        }
      }

      @include media("xl") {
        @keyframes scroll {
          0% {
            transform: translateX(0%);
          }
          50% {
            transform: translateX(-209%);
          }
          100% {
            transform: translateX(-209%);
          }
        }
      }
    }

    .slide-2 {
      position: relative;
      padding: 80px;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .slide-text {
        position: relative;
        z-index: 2;
        width: 100%;
        max-width: 460px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
      }

      .title {
        font-size: 72px;
        font-weight: 800;
        text-transform: uppercase;

        span {
          transform: translateY(200%);
        }
      }

      .subtitle {
        font-size: 30px;
        font-weight: 800;
        line-height: 160%;
        text-transform: uppercase;
      }

      .desc {
        font-weight: 700;
        font-size: 22px;
        line-height: 160%;
        letter-spacing: 0.09em;
        text-transform: uppercase;
        color: #7688a3;
      }

      .btn {
        margin-top: 10px;
      }

      .slide-img {
        position: absolute;
        right: 40px;
        width: 734px;
        height: 486px;
        object-fit: contain;
      }

      &.swiper-slide-active {
        .title span {
          opacity: 0;
          display: inline-block;
          animation: fadeUp 15s linear;
        }

        .title span:nth-child(1) {
          animation-delay: 0.5s;
        }

        .title span:nth-child(2) {
          animation-delay: 1s;
        }

        .title span:nth-child(3) {
          animation-delay: 1.5s;
        }

        .subtitle,
        .desc,
        .btn {
          opacity: 0;
          animation: fadeUpOpacity 14s linear;
          animation-delay: 2s;
        }

        @keyframes fadeUp {
          0% {
            transform: translateY(100%);
          }
          3% {
            opacity: 1;
            transform: translateY(0%);
          }
          100% {
            opacity: 1;
            transform: translateY(0%);
          }
        }

        @keyframes fadeUpOpacity {
          0% {
            opacity: 0;
          }
          5% {
            opacity: 1;
          }
          100% {
            opacity: 1;
          }
        }
      }
    }
  }

  &__img {
    width: 100%;
    display: none;

    @include media("lg") {
      display: flex;
    }

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 12px;

      @include media("sm") {
        border-radius: 8px;
      }
    }
  }

  &__stats {
    padding: 20px 0;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 120px;

    @include media("2xl") {
      gap: 30px 40px;
    }
    @include media("lg") {
      flex-wrap: wrap;
      justify-content: center;
    }
    @include media("sm") {
      gap: 20px 10px;
    }

    &-item {
      text-wrap: balance;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      @include media("lg") {
        max-width: 180px;
        text-align: center;
        align-items: center;
        gap: 5px;
      }
      @include media("sm") {
        width: calc(100% / 2 - 30px);
        gap: 0;
      }
      @media screen and (min-width: 376px) and (max-width: 640px) {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          width: calc(100% / 3 - 10px);
        }
      }
    }

    .text-h2 {
      color: #5c6678;
    }

    strong {
      margin-right: 5px;
      color: var(--text-color);
      font-weight: 800;
    }

    p {
      @include media("sm") {
        font-size: 12px;

        span {
          display: none;
        }
      }
    }
  }
}

// @include show(".endoscopy");
