---
import { H2, Icon, Image } from "ui";
---

<footer class="footer">
  <div class="container">
    <div class="footer__list">
      <div class="footer__item">
        <div class="footer__item-title">Мебель для офиса</div>
        <ul>
          <li><a href="#">Кабинет руководителя</a></li>
          <li><a href="#">Мебель для персонала</a></li>
          <li><a href="#">Офисные кресла и стулья</a></li>
          <li><a href="#">Переговорные зоны</a></li>
          <li><a href="#">Мягкая мебель</a></li>
          <li><a href="#">Металлическая мебель</a></li>
          <li><a href="#">Гостиничная мебель</a></li>
          <li><a href="#">Аксессуары</a></li>
          <li><a href="#">Стойки ресепшн</a></li>
        </ul>
      </div>

      <div class="footer__item">
        <div class="footer__item-title">Мебель для дома</div>
        <ul>
          <li><a href="#">Мебель для гостиной</a></li>
          <li><a href="#">Мебель для спальни</a></li>
          <li><a href="#">Мебель для кухни</a></li>
          <li><a href="#">Мебель для ванной</a></li>
          <li><a href="#">Кресла и стулья</a></li>
          <li><a href="#">Мягкая мебель</a></li>
        </ul>
      </div>

      <div class="footer__item">
        <div class="footer__item-title">О нас</div>
        <ul>
          <li><a href="#">О компании</a></li>
          <li><a href="#">Наши проекты</a></li>
          <li><a href="#">Контакты</a></li>
          <li><a href="#">Доставка</a></li>
          <li><a href="#">Мебель на заказ</a></li>
          <li><a href="#">Возврат</a></li>
          <li><a href="#">Дизайн проект</a></li>
        </ul>
      </div>

      <div class="footer__item">
        <div class="footer__item-title">© ООО «Амадей», 2024</div>
        <p class="footer__item-desc">
          ОГРН/ИНН 1181690009467/1657243675 <br /> 420030, г. Казань, ул. Сулеймановой,
          д. 3 <br /><br />
          <strong>Мы работаем:</strong><br />
          Понедельник-пятница с 09:00 до 18:00
        </p>
        <div class="footer__item-socials">
          <a href="#"><Image src="icons/x.svg" /></a>
          <a href="#"><Image src="icons/vk.svg" /></a>
          <a href="#"><Image src="icons/telegram.svg" /></a>
          <a href="#"><Image src="icons/whatsapp.svg" /></a>
        </div>
      </div>
    </div>
  </div>
</footer>
